{% extends 'layout.html.twig' %}

{% block content %}

    {% for post in posts %}
        <article>
            <h4><a href="{{ path('post', {'slug': post.slug}) }}">{{ post.title }}</a></h4>
            <p>{{ post.body|raw }}</p>
        </article>
    {% endfor %}  

{% endblock %}
