{% extends 'layout.html.twig' %}

{% block content %}

    <h2>{{ html|raw }}</h2>

    {% for post in posts %}
        <article>
            <h4>{{ post.title }}</h4>
            <p>{{ post.body|raw }}</p>
        </article>
    {% endfor %}  

{% endblock %}
