{% extends 'layout.html.twig' %}

{% block content %}
<div class="span9">
    <p><em>Posts tagged with "{{ tag.label }}".</em></p>

    {% if tag.posts %}

        {% for post in tag.posts %}
            <article>
                <h2><a href="{{ path('post', {'slug': post.slug}) }}">{{ post.title }}</a></h2>
                <p>{{ post.body|raw }}</p>
            </article>
        {% endfor %}

    {% else %}

        <div class="alert">There are no posts found for this tag.</div>

    {% endif %}
</div>
{% endblock %}
