{% extends 'layout.html.twig' %}

{% block sidebarleft %}
    <div class="span3">You are logged in as {{ user.username }}. <a href="{{ app.url_generator.generate('admin_logout') }}">Logout</a>.</div>
{% endblock %}

{% block content %}
<div class="span9">
    <h2>Administration</h2>

    <div class="alert alert-success">
        Welcome {{ user.username }}.
    </div>
</div>
{% endblock %}
