{% extends 'layout.html.twig' %}

{% block sidebarleft %}
    <div class="span3">&nbsp;</div>
{% endblock %}

{% block content %}
<div class="span9">
    <h2>Welcome</h2>

    <div class="alert alert-success">
        Welcome {{ user.username }}.
    </div>
</div>
{% endblock %}
