<div class="span3">
    <div class="user_info">
        <img src="{{ app.request.basepath }}/assets/img/avatar-the-sound-of-rosebuds.jpg" width="150px" />
        <div class="details">
            Water spinach summer purslane catsear celery soybean brussels sprout arugula. Tomatillo chard soybean arugula celery cucumber dandelion celtuce komatsuna asparagus. Pea sprouts pumpkin water spinach kohlrabi salsify taro sea lettuce celery courgette melon carrot avocado groundnut.
        </div>
    </div>
</div>
